# See https://docs.github.com/get-started/getting-started-with-git/ignoring-files for more about ignoring files.

# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Node
/node_modules
npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/mcp.json
.history/*

# Miscellaneous
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings
__screenshots__/

# System files
.DS_Store
Thumbs.db

# --- Entornos y Secretos (VITAL para CI/CD)
.env
.env.*
!.env.example

# Si usas el sistema tradicional de Angular para entornos
src/environments/environment.prod.ts

# --- Docker ---
.docker/
docker-compose.override.yml
*.tar

# --- Native Federation ---
# Estos archivos se generan dinámicamente y no deben estar en el repo
public/remoteEntry.json

